.title {
  text-align: center;
  margin: 0;
  padding: 16px;
  background-color:#ffffff;
  border-radius: 5px;
  color: black;
  box-shadow:  0 4px 5px rgba(0, 0, 0, 0.05);;
}

.chart-card {
  width: 100%;
  border-radius: 12px;
  overflow-x: auto;
}

.ecg-wrapper {
  padding: 20px;
  border-radius: 16px;
  margin: 20px;
  font-family: Arial, sans-serif;
}


.ecg-controls {
  margin-top: 30px;
  text-align: center;
}

.slider-label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #2c3e50;
}

.ecg-slider {
  width: 90%;
  max-width: 900px;
  height: 6px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
}

.ecg-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #2c3e50;
  border-radius: 50%;
  cursor: pointer;
}

.ecg-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #2c3e50;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
