/* .eeg-wrapper {
  padding: 20px;
}
.dropdowns select,
.dropdowns button {
  margin-right: 10px;
  padding: 6px 10px;
}
.channel-box {
  margin: 15px 0;
  padding: 10px 20px;
  background-color: #e9e9f0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.charts {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
